body {
    background-color: #E8EDEE !important;
}

.bg-primary {
    background-color: #005EB8 !important;
}

.btn-primary {
    background-color: #0072CE !important;
}

.btn-footer {
    font-size: 140%;
    padding: 0em 1em 0em 1em;
}

.bi-search-heart {
    font-size: 120%;
    padding: 0em 0.5em 0em 0.5em;
}

/* ==== Buildings === */

.buildingSvg {
    width: 100%;
    height: auto;
}

.csbSvg {
    margin-left: -2em;
    margin-top: 2em;
}

.brookeSvg {
    margin-top: -1em;
}

.ladywellSvg {
    margin-top: -2em;
}

.turnbergSvg {
    margin-top: -1.75em;
    margin-left: -.25em;
}

.humphreyBoothSvg {
    margin-right: -2em;
    margin-left: 2.5em;
}

.barnesSvg {
    margin-top: -1.25em;
    margin-right: .3em;
    margin-left: -1em;
}

.mayoSvg {
    margin-top: -2em;
    margin-left: -2.5em;
}