.bi {
    font-size: 1.5em;
}

.Navbar {
    line-height: 0.5;
}

.Footer {
    line-height: 0.5;
}

.buildingSvg {
    width: 100%;
    height: auto;
}

.csbSvg {
    margin-left: -2em;
    margin-top: 2em;
}

.brookeSvg {
    margin-top: -1em;
}

.ladywellSvg {
    margin-top: -2em;
}

.turnbergSvg {
    margin-top: -1.75em;
    margin-left: -.25em;
}

.humphreyBoothSvg {
    margin-right: -2em;
    margin-left: 2.5em;
}

.barnesSvg {
    margin-top: -1.25em;
    margin-right: .3em;
    margin-left: -1em;
}

.mayoSvg {
    margin-top: -2em;
    margin-left: -2.5em;
}